REACT_APP_SB_URL=https://xtgadrdyirnowhmdmnxo.supabase.co
REACT_APP_SB_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0Z2FkcmR5aXJub3dobWRtbnhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyNTE0ODAsImV4cCI6MjA5NTgyNzQ4MH0.kwcySH_1sY5Py-6I0CGW8wvMNSTp-tf5oWzHqnpfNgo
